<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Form Test</title>
</head>
<body>
<h2>Upload Form</h2>
<div class="container">
<form action="/upload" th:object="${uploads}" method="post" enctype="multipart/form-data">
    <label>Title : </label>
    <input type="text" name = "title" th:field="*{title}" /> </br>
<!--    <label>Photo : </label>-->
<!--    <input type="file" name="photo" /> </br>-->
    <label>Description : </label>
    <input type="text" name ="description" th:field="*{description}" /> </br>
    <label>Hashtag: </label>
    <input type="text" name = "hashtag" th:field="*{hashtag}" /> </br>
    <!-- <label>Likes: <span id="likes" th:text="${likes}"></span></label>
     <button type="button" onclick="incrementLikes()">Like</button></br>
     <script th:inline="javascript">
         var currentLikes = 0;
         function incrementLikes() {
             currentLikes++;
             document.getElementById('likes').innerText = currentLikes;
         }
     </script>-->
    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>